@import "_normalize";

body {
  background-color: #202225;
  color: white;
  a:link, a:visited {
    color: yellow;
  }
  a:hover, a:active {
    color: yellowgreen;
  }
}

.nav-lista {
  margin: 0;
  padding: 1rem 0;
}